body{
    background-image: url(../Images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    width:87%;
    margin: 15px auto;
    text-align: center;
    background-color:#74394c;
    opacity: 0.7;
    border-radius: 15px;
    padding: 20px;
}